.content {
    padding-top: 5em;
}

.hide {
    visibility: none;
}

/*Today's weather info card*/
#city {
    font-size: xx-large;
    font-weight: bold;
    padding-bottom: 1em;
}

#temp, #humidity, #wind, #UV {
    padding-bottom: 2em;
}

.favorable {
    width: fit-content;
    height: fit-content;
    border: solid green;
    background-color: lightgreen;
}

.moderate {
    width: fit-content;
    height: fit-content;
    border: solid yellow;
    background-color: rgb(245, 245, 171);
}

.severe {
    width: fit-content;
    height: fit-content;
    border: solid red;
    background-color: rgb(235, 104, 104);
}

/*Forecast Card Styling*/

#forecast-container.row {
    margin-left: .7em;
}

.s2 {
    margin: 2em;
}

#forecast-date {
    font-size: large;
    font-weight: bold;
    padding: 1em 0em 1em;
}

#forecast-temp {
    padding: 1em 0em;
}

#forecast-humidity {
    padding-bottom: 1em;
}